{% extends 'base.html' %}


{% block content %}
  <h1>DETAIL</h1>
  <hr>
  title : {{movie.title}}
  <br>
  description :{{movie.description}}
  <hr>
  <a href="{% url 'movies:update' movie.pk%}" class="btn btn-primary">UPDATE</a>

  <h2>댓글 목록 </h2>
  {% for comment in comments %}
    {{comment.content}}
    
    {% if comment.user == request.user %}
    <form action="{% url 'movies:comments_delete' movie.pk comment.pk %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="삭제" class="btn btn-danger"> </form>
    {% endif %}
    <hr>
  {% endfor %}
  <h3>댓글 쓰기</h3>
  <form action="{% url 'movies:comments_create' movie.pk %}" method="POST">
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit">
  </form>
    <form action="{% url 'movies:delete' movie.pk %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="삭제" class="btn btn-danger">
    </form>
    <a href="{% url 'movies:index' %}" class="btn btn-warning">back</a>

{% endblock content %}




